.navbar-custom{

height:70px;

background:white;

border-radius:14px;

box-shadow:

var(--shadow);

padding:15px 25px;

display:flex;

align-items:center;

justify-content:space-between;

margin-bottom:30px;

}
