.sidebar{

width:280px;

background:#111;

color:white;

min-height:100vh;

box-shadow:

var(--shadow);

}

.sidebar-logo{

padding:30px;

text-align:center;

}

.sidebar-logo img{

width:180px;

}

.sidebar-menu{

padding:15px;

}

.sidebar-menu a{

display:block;

padding:14px 18px;

color:white;

text-decoration:none;

border-radius:10px;

margin-bottom:6px;

transition:.2s;

}

.sidebar-menu a:hover{

background:#2a2a2a;

}
